header {
    background-color: #111;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header img {
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    -webkit-text-stroke: 2px #b36908; /* Товщина обводки та колір */
    color: #fff; /* Колір тексту */
}

nav {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}