@import "bike-info.css";
@import "footer.css";
@import "header.css";
@import "scrollbar.css";
@import "sidebar.css";
@import "basket.css";
@import "characteristics.css";
@import "comparison.css";

body {
    font-family: Arial, sans-serif;
    background-color: #232323; /* Змінити колір фону */
    margin: 0;
    color: #fff; /* Змінити колір тексту */
}

.main {
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap; /* Карточки переносяться на новий ряд при необхідності */
    justify-content: flex-start; /* Карточки розташовуються зліва */
    flex-grow: 1; /* Карточки займають весь доступний простір в main */
}

button {
    cursor: pointer;
    background-color: #ff6600;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff5500;
}