.basket-button {
    margin-left: auto;
  }
.basket{
    width: 25px;
}

.cart-count-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  top: -35px;
  right: -5px;
}
.cart-count-container-index {
  position: relative;
  display: inline-block;
}
.cart-count-index {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 16px;
  position: absolute;
  right: -15px;
}



.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #ff6600;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  animation: slideIn 1s ease-in-out, slideOut 1s 2s ease-in-out;
}

@keyframes slideIn {
  from { right: -200px; }
  to { right: 10px; }
}

@keyframes slideOut {
  from { right: 10px; }
  to { right: -200px; }
}

.quantity-container {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0; 
  width: 100%; 
  text-align: center; 
  flex-direction: row; 
}

.button-container button {
  margin: 10px;
  width: 300px;
  background-color: #ff6600;
}

.button-container button:hover {
  background-color: #d84800;
}



label[for="quantity"] {
  margin-right: 10px;
}

button.decrement,
button.increment {
  background-color: #ff6600;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 7px;
  padding-top: 6px;
}

input[type="number"] {
  font-size: 14px;
  width: 30px;
  text-align: center;
}

