.bike-cards-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.bike-card-comparison {
    background-color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 320px;
    height: 290px;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.bike-card-comparison img {
    width: 75%;
    border-radius: 5px;
}

.characteristics-container {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.vl{
    width: 310px;
}

.vl1{
    width: 245px;
}

.button-container-comparison button{
    background-color: #ff6600;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-bottom: 5px;
    width: 200px;
}

.bike-card-comparison button:hover {
    background-color: #d84800;
}